
/* ----- Header ----- */
.header-container{
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 0 50px;
}

.header-box {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.header-logo-box {
    display: flex;
    width: 100%;
    gap: 20px;
}

.header-logo-nome {
    align-self: center;
    background: linear-gradient(270deg, #dde6ff 0.95%, #6BBAFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-menu-visivel {
    opacity: 1;
    transform: translateX(0);
    left: 0;
    position: fixed;
    opacity: 0;
    top: 0;
    transform: translateX(-100%);
    transition: all 1s;
    width: 100%;
}

.header-logo {
    height: 50px;
    color: rgba(22, 30, 50, 0.4);
    stroke: #6BBAFF;
}

.header-categorias-box {
    align-items: center;
    display: flex;
}

.header-categorias {
    display: flex;
    font-weight: bold;
    gap: 40px;
    list-style: none;
    text-transform: uppercase;
}

.header-categoria-link {
    text-decoration: none;
    background: linear-gradient(270deg, #dde6ff 0.95%, #6BBAFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    font-weight: 500;
}

.header-categoria-link::after {
    content: '';
    display: block;
    height: 3px;
    margin-top: 3px;
    transition: .5s;
}

.header-categoria-link:hover::after {
    background: linear-gradient(270deg, #1141BD 0.95%, #6BBAFF 100%);
}

.header-menu-rwd-btn {
    display: none;
}


/* ----- Portfólio ----- */
@media (max-width:1024px) {
    .header-categorias-box {
        left: 0;
        position: absolute;
        opacity: 0;
        top: 0;
        transform: translateX(-100%);
        transition: all 1s;
        width: 100%;
        display: inline;
    }

    .header-menu-rwd-btn {
        cursor: pointer;
        display: inline;
        filter: invert();
        height: 50px;
        z-index: 100;
    }

    .header-categorias {
        align-items: center;
        backdrop-filter: blur(2px);
        background-color: rgba(22, 30, 50, 0.9);
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        justify-content: center;
    }

    .header-menu-visivel {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width:480px) {
    .header-logo-nome{
        display: none;
    }
}