/* ----- Portfólio ----- */
@media (max-width:1024px) {
    .scroll-escondido {
        overflow: hidden;
    }

    .scroll-visivel {
        overflow: auto;
    }

    .habilidades {
        width: 100%;
    }

    .habilidades-titulo {
        text-align: center;
    }

    .habilidades-icones {
        justify-content: center;
    }
}