/* ----- Portfólio ----- */
@media (max-width:1024px) {
    .scroll-escondido {
        overflow: hidden;
    }

    .scroll-visivel {
        overflow: auto;
    }

    .habilidades {
        width: 100%;
    }

    .habilidades-titulo {
        text-align: center;
    }

    .habilidades-icones {
        justify-content: center;
    }

    
    
}

/* ----- Contatos ----- */
@media (max-width:500px) {
    .contatos-redes{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .contato-rede{
        width: 100px;
    }
}