/* ----- Portfólio ----- */
@media (max-width:1024px) {
    /* ----- Header ----- */
    .header-container{
        /* position:relative; */
        z-index:50;
    }

    .header-categorias-box {
        left: 0;
        position: absolute;
        opacity: 0;
        top: 0;
        transform: translateX(-100%);
        transition: all 1s;
        width: 100%;
    }

    .header-menu-rwd-btn {
        cursor: pointer;
        display: inline;
        filter: invert();
        height: 50px;
        right: 35px;
        top: 34px;
        z-index: 100;
    }

    .header-categorias-box {
        display: inline;
    }

    .header-categorias {
        align-items: center;
        backdrop-filter: blur(2px);
        background-color: rgba(22, 30, 50, 0.9);
        flex-direction: column;
        gap: 20px;
        height: 100vh;
        justify-content: center;
    }

    .header-menu-visivel {
        opacity: 1;
        transform: translateX(0);
    }

    .scroll-escondido {
        overflow: hidden;
    }

    .scroll-visivel {
        overflow: auto;
    }


    /* ----- Home ----- */
    .home-box {
        gap: 0;
    }

    .home-apresentacao {
        text-align: center;
    }

    .habilidades {
        width: 100%;
    }

    .habilidades-titulo {
        text-align: center;
    }

    .habilidades-icones {
        justify-content: center;
    }

    
    
}

/* ----- Contatos ----- */
@media (max-width:500px) {
    .contatos-redes{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .contato-rede{
        width: 100px;
    }
}